[2017-12-12 20:03] vladimirvivien opened #15 "External-Attacher fails to issue controller probe request"
According to the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerprobe), the CO (or its components) `shall invoke this RPC (controllerprobe) to determine readiness of the service`.

A CSI driver that follows the language of the spec will fail if a probe RPC is not invoked prior to other operations.  If the CSI language is correct, then this constitutes

[2017-12-14 14:00] jsafrane commented on #15
/assign

[2017-12-14 14:30] #15 closed

[2018-01-12 16:33] lpabon opened #21 "Docker file in root needs to be deleted."
The contents of `extras/docker` are used to build the container because they output a container that is only 3MB instead of 300MB as done by the one in the root.

[2018-01-12 16:38] lpabon commented on #21
This was meant for the external-provisioner

[2018-01-12 16:38] #21 closed

[2018-03-02 01:17] davidz627 opened #28 "Should use "Patch" instead of "Update" when changing k8s API Objects"
Currently when changing k8s API Objects the external attacher uses "Update" calls. These are less efficient than patching, they could also be problematic if there are small object changes in between Get and Update (accidental revert is possible).

They could also cause issue with mismatched API versions (this should not happen but we still want to minimize breakage/risk).

[2018-03-02 09:05] jsafrane commented on #28
Patches can overwrite something that was written by something else and attacher did not see it. In case of attacher it should be probably harmless and attacher should use patch with some caution. Any volunteer to rewrite the code?

[2018-03-02 21:15] davidz627 commented on #28
Does `Update` not have this same issue?

[2018-03-06 08:21] jsafrane commented on #28
No, update checks ResourceVersion and returns `metav1.StatusReasonConflict` instead of overwriting newver version of object on API server. I was told that Path  could probably include ResourceVersion too to detect such conflict.

[2018-03-09 22:49] saad-ali opened #30 "fstype should be fetched from CSI volume source"
There is currently a todo in `pkg/connection/util.go`:

[code]

`fstype` is now a field in `CSIPersistentVolumeSource` and should be fetched from there and set.

[2018-03-09 22:57] saad-ali commented on #30
Per https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L1749 assume it is `ext4` if not specified.

[2018-03-12 05:08] NickrenREN commented on #30
/assign

[2018-03-12 08:39] #30 closed

[2018-03-12 17:42] jsafrane opened #32 "Attacher should provide credentials in ControllerPublish request."
The attacher only logs error when it fails to fetch a secret configured in PV and continues with attaching. It should return error to the user instead.

Secrets are optional in CSI, however CSI really wants them to be used once they're set in PV. If there is a typo in secret name, admin should know and attach should fail.

[2018-03-14 07:11] wackxu opened #34 "GetVolumeAttributes should be updated since CSI volume attributes has been first class of CSIPersistentVolumeSource"

[2018-03-14 15:25] jsafrane commented on #34
I posted #36 that should fix this.

[2018-03-14 15:57] jsafrane commented on #32
It turns out that the attacher does not load any secrets. That should be fixed.

[2018-03-15 14:30] jsafrane opened #39 "Attacher should use storage.k8s.io/v1beta1 API instead of v1alpha1"
Currently, attacher uses `storage.k8s.io/v1alpha1` API to talk to Kubernetes and work with `VOlumeAttachment` objects. `v1alpha1` needs to be explicitly enabled by cluster admins.

We should move to `v1beta1`, which is enabled by default.

[2018-03-15 15:58] pohly commented on #39
Is this issue only about `k8s.io/api/storage/v1alpha1` or also about `k8s.io/client-go/informers/storage/v1alpha1` and `k8s.io/client-go/listers/storage/v1beta1`?

`k8s.io/api/storage` seems to be a simple search/replace, but `k8s.io/client-go` is a bit more involved, because the newer API deals with StorageClass instances, not VolumeAttachment.

[2018-03-15 16:14] pohly commented on #39
Probably all of them, because `vendor/k8s.io/client-go/listers/storage/v1alpha1/volumeattachment.go` uses the `k8s.io/api/storage/v1alpha1` API...

The latest API for `k8s.io/client-go` is `v1`, not `v1beta1`. Same for `vendor/k8s.io/api/storage`. Shouldn't we use `v1` then instead of `v1beta1`?

[2018-03-19 16:37] #34 closed

[2018-03-22 17:27] saad-ali commented on #39
@sbezverk has volunteered to work on this.

[2018-04-03 07:37] #32 closed

[2018-04-03 07:37] jsafrane commented on #39
Fixed by #40

[2018-04-03 07:37] #39 closed

[2018-04-17 15:21] lpabon opened #43 "Need to print version (Same goes for all other side car containers)"
Need to print git tag version built from at least.

[2018-04-18 08:53] ZhaokunQiu opened #44 "Failed to list VolumentAttachment"
My kubernetes version:1.9.6
Installing tool: kubeadm
Troubles:
I'm testing with hostpath CSI driver as the example shows. The pod is running well:
`[root@node-1 ~]# kubectl get pods -o wide
`
`NAME         READY     STATUS              RESTARTS   AGE       IP              NODE
csi-pod          4/4           Running                       0          4h        172.17.0.3   node-1
`

And the pvc is cr

[2018-04-18 10:34] jsafrane commented on #44
external-attacher 0.2.0 now supports only Kubernetes 1.10 that added VolumeAttachment to storage.k8s.io/v1beta1 API.

@lpabon, should we build and tag 0.1 images for Kubernetes 1.9?

[2018-04-18 10:54] ZhaokunQiu commented on #44
@jsafrane Ah, many thanks! So I will upgrade k8s version, or just adjust the external-attacher version to 0.10?

[2018-04-18 11:32] ZhaokunQiu commented on #44
It seems that there isn't  v0.1.0 in the repo?

[2018-04-18 14:07] jsafrane commented on #44
I think we weren't tagging our 0.1.0 containers, we used `latest` only at that time.

I'd recommend upgrading Kubernetes to 1.10 and it should start working with 0.2.0 images we have now.

[2018-04-19 06:27] ZhaokunQiu commented on #44
@jsafrane Solved it! Thanks a lot!

[2018-04-19 09:00] jsafrane commented on #44
I am glad to help. Please post any other issues or even PRs with updated documentation :-)

[2018-04-19 09:00] #44 closed

[2018-04-23 02:27] lpabon opened #45 "Versioning needed"
Version is needed to be logged

[2018-04-25 12:10] jsafrane opened #46 "Allow running multiple attachers for one driver"
Right now, each CSI driver must run exactly one external attacher and we recommend running it in a StatefulSet.

We should fix the attacher to do the same leader election as provisioner and update documentation and examples everywhere so the attacher runs in the same deployment as  the provisioner.

[2018-04-25 15:26] jsafrane commented on #45
Dup of #43

[2018-04-25 15:26] #45 closed

[2018-05-04 04:40] #43 closed

[2018-05-14 18:14] #46 closed

[2018-05-24 14:47] jessfraz opened #50 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 13:45] shubheksha opened #51 "Add timeout and exponential backoff to attach/detach"
Currently, the attacher calls `ControllerPublishVolume()` and `ControllerUnpublishVolume()` with `context.TODO()`. It'd be better to call it with some reasonable deadline and exponential back-off.

[2018-05-25 13:45] shubheksha commented on #51
I'm working on this with @jsafrane

[2018-06-05 16:32] sbezverk opened #53 "external_attacher returns detached true when possible a volume still attached"
Reported by 3rd party:
on detach, `detached, err := h.csiConnection.Detach(ctx, volumeHandle, nodeID, secrets)` is executed which on any error in Detach, will be set by: `return isFinalError(err), err`

which is this:
[code]
line 9 in the above should not return true `detached`, the caller of the function needs do additional checking not to get into this condition.

Also   `switch.st.Code()` cases

[2018-06-07 12:18] #53 closed

[2018-06-19 18:44] msau42 opened #55 "Make resync configurable"
Especially useful for volume drivers that don't implement attach

[2018-07-03 14:22] #55 closed

[2018-08-02 08:05] #51 closed

[2018-08-08 21:13] #50 closed

[2018-08-16 01:32] verult opened #66 "Failing to delete PV after attach failure"
As I was playing around with topology I ran into an issue: I provisioned a volume and tried to attach it to a pod, which I expected. Then I deleted the pod successfully. The strange part is when I deleted the PVC, the PV went into Terminating state but *never got deleted*.

The PV still has an `external-attach/driverName` finalizer preventing its deletion. The associated `VolumeAttachment` object

[2018-08-16 07:50] jsafrane commented on #66
Hmm, that's odd. VolumeAttachment is marked for deletion (`finalizers: [external-attacher/com-google-csi-gcepd]`). Question is why the attacher did not remove the finalizer in VolumeAttachment. This could mean that Detach() did not succeed and the attacher is not sure in what state the volume is. Can you check the attacher logs?

[2018-08-24 14:26] wnxn opened #67 "call Probe error due to timeout setting is too short"
Hi,
1. I develop a CSI driver and implement Probe call. The Probe call verifies driver status and takes about 2 seconds. The external attacher prints calling Probe RPC timeout log (`Probe failed with rpc error: code = DeadlineExceeded desc = context deadline exceeded`). In my opinion, when external attacher calling Probe, the timeout setting is too short (only one second).  We can increase timeout

[2018-09-20 16:51] jsafrane commented on #67
fixed by #68

[2018-09-20 16:51] #67 closed

[2018-09-20 16:52] jsafrane commented on #66
@verult, can you please check again if it's still reproducible? I really need the logs.

[2018-09-20 20:49] verult commented on #66
On it

[2018-09-20 23:02] verult commented on #66
This seems to trigger consistently when I induce an attach failure.

[code]
and the "volume is released" message just gets printed repeatedly.

[2018-10-19 08:25] mape90 opened #83 "Detach failure if node is removed from cluster"
## Problem
If node with volumes managed by CSI plugin is removed from Kubernetes cluster before volumes are detached then detaching will newer succeed.

function csiDetach (in pkg/controller/csi_handler.go +296 (master)) is failing always because it tries to get nodeID from kubernetes api and as node does not anymore exists it fails.

## Environment
This behavior was produced in Openstack with Cin

[2018-10-19 11:19] jsafrane commented on #83
Thanks for the report. It's hard to judge what's right in this case.

That's very implementation dependent. Different drivers will do different things, usage of empty string is not described in CSI spec. It SHALL be "ID returned by `NodeGetInfo`", but Kubernetes does not have this information, because the node was deleted.

One thing I could perhaps do here is to store the node ID in VolumeAttachm

[2018-10-22 07:33] mape90 commented on #83
Thanks for quick response. Yes it is best not to alter the spec, so yes that my proposal is not possible. I trust that you find some elegant way to solve this.

[2018-10-22 18:31] davidz627 commented on #83
@jsafrane I like the idea of storing the node ID in the `VolumeAttachment`, that information is very "tied" to the attach operation and so it seems like a natural place to put it. Is is possible to even create a field in the object?

[2018-10-23 00:28] verult commented on #28
I'm seeing a test flake caused by PV Update calls not guarded by conflict retries here:
https://github.com/kubernetes-csi/external-attacher/blob/bce2b333e18417013170546eaff13b6241ccd903/pkg/controller/csi_handler.go#L198

We should either put a retry guard around the Update or change it to Patch

[2018-10-23 06:12] pohly commented on #28
Could this be the explanation for https://github.com/kubernetes/kubernetes/issues/65246?

[2018-10-23 13:51] jsafrane commented on #83
Yesterday our Kubernetes CSI workgroup decided that we'll put Node ID into VolumeAttachment annotation during attach / ControllerPublish. Downside of this approach is that it's not updated when a driver gets updated and starts reporting different NodeID than before. The driver must accept old Node ID in this case.

/assing
(but patches are welcome)

[2018-10-23 13:52] jsafrane commented on #83
/assign

[2018-10-24 09:01] jsafrane commented on #83
@davidz627, sorry, I did not see your comment (github outage?)

I could add a field for it, still I have bad feeling about it. If a driver is updated while a volume is attached, we should use the new NodeID. Using an old Node ID from VolumeAttachment annotation or field feels like workaround.

[2018-10-26 18:37] mariantalla commented on #28
Hi, is this still in progress? Any blockers?
Asking as [#65246](https://github.com/kubernetes/kubernetes/issues/65246) depends on it - and [#65246](https://github.com/kubernetes/kubernetes/issues/65246) is a release blocker at the moment.

cc @jberkus @mortent

[2018-10-29 21:09] davidz627 commented on #83
I see now from your PR that this is a backup only when the Node is gone. I did not realize that before, annotation seems like the right way here.

[2018-11-01 18:44] #83 closed

[2018-11-05 20:31] msau42 opened #88 "Add rbac rules for accessing secrets"
They should be optional as not all volume drivers will need it: kubernetes/kubernetes#69122

[2018-11-06 16:15] msau42 commented on #88
/help

[2018-11-15 01:41] msau42 opened #91 "Check for PUBLISH_READONLY capability before setting readOnly field in ControllerPublishVolume"
See https://github.com/container-storage-interface/spec/pull/310/files for details

[2018-11-18 20:14] saad-ali opened #94 "Take advantage of `csi_secret` in CSI 1.0"
CSI 1.0 decorates sensitive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive fields are ever logged by this side car container.

[2018-11-20 11:29] cwdsuzhou opened #95 "Specify the number of work threads"
Specify the number of work threads, currently it is set 10 in the code.

[2018-11-20 14:16] jsafrane commented on #91
What should be the right behavior here? Fail attach() and report error when SP does not support  PUBLISH_READONLY? Or silently fall back to read-write attachment and expect that kubelet mounts it as read-only?

[2018-11-21 10:48] pohly commented on #94
PR open against external-provisioner: https://github.com/kubernetes-csi/external-provisioner/pull/171

Needs to be reviewed there and then could be copied into external-attacher.

[2018-11-21 19:46] #91 closed

[2018-11-21 20:57] xing-yang opened #99 "CSINodeInfo should not be required"
I updated my driver to support CSI v1.0.0 and tested it with K8S release-1.13 branch.  I didn't enable CSINodeInfo feature gate.  Attach volume failed with the following errors, indicating CSINodeInfo is required.

external-attacher logs:

I1121 17:45:21.698075       1 reflector.go:357] k8s.io/client-go/informers/factory.go:131: Watch close - *v1.Node total 45 items received
I1121 17:46:41.961154

[2018-11-22 07:49] pohly commented on #99
Xing Yang <notifications@github.com> writes:

I might be mistaken, but I think CSINodeInfo is now beta in 1.13 and
thus enabled by default. Your cluster deployment must create the CRDs
and if it doesn't, they have to be created manually as in
https://kubernetes-csi.github.io/docs/Example.html#deployment

What are you RBAC rules? The builtin roles are out-dated and must be
replaced with the ones fr

[2018-11-23 16:33] xing-yang commented on #99
CSINodeInfo is still Alpha in 1.13.

I tried to work around this problem by enabling the feature gates for CSINodeInfo and CSIDriverRegistry and I did follow the example here: https://kubernetes-csi.github.io/docs/Example.html#deployment

I still got the following errors in the external-attacher:

I1121 18:38:19.079423       1 csi_handler.go:91] CSIHandler: processing VA "csi-4800a666312223e9f2c66

[2018-11-26 12:52] jsafrane commented on #99
I checked today with 1.0-canary images of everything, CSINodeInfo is **not** required in 1.13 at all.

In attacher logs I still can see an error about CSINodeInfo, but attacher continues without it:

[code]

In your case, the root cause is `node "127.0.0.1" has no NodeID annotation`. Many things changed in 1.0, in my case I had to change yaml of my driver to use `/var/lib/kubelet/plugins_registry/

[2018-11-26 14:15] xing-yang commented on #99
Thanks @jsafrane !  I'll re-test with the new driver registrar path.  I remember there is a change but couldn't find the relevant PR about it.

[2018-11-26 16:05] xing-yang commented on #99
I modified the driver registrar socket directory and tested without CSINodeInfo (using external-attacher v1.0.0 image and driver-registrar v1.0-canary), but I got the same errors in the attacher.  Here are errors in kube-controller-manager.log:

E1126 07:42:05.000173    2970 csi_attacher.go:228] kubernetes.io/csi: attachment for 26b93b42-d7ad-4d04-a217-e0ff38f4b348 failed: node "127.0.0.1" has no

[2018-11-27 04:15] xing-yang commented on #99
Verified PR #101 fixed this issue.  Thanks @jsafrane !

[2018-11-27 16:43] #99 closed

[2018-11-29 02:35] saad-ali opened #102 "external-attacher does not see nodeID annotation for 2 min?"
This is an analysis of the following test flake: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4398

[code]

So for the most part seems like everything is operating as expected.
Outstanding question is why did external-attacher not see the nodeID annotation until 2 min after it was added to node?

[2018-11-29 02:39] saad-ali commented on #102
CC @msau42 @jsafrane

[2018-11-29 10:05] jsafrane commented on #102
Looking at the logs, exponential backoff is weird. Controller got synced at these intervals:

[code]

Recalculated to milliseconds between calls:

[code]

It shows some exponential growth from 16 through 32, 64, 128, but it misses 256, 1024 and lot of numbers after 2048.

Unfortunately, informer does not log anything.

As side note, these short 1-2ms intervals in between are caused by timestamp in

[2018-11-29 15:05] jsafrane commented on #102
I create #104, it does not retry to attach/detach on VolumeAttachment changed events caused by AttachError write.

[2018-11-30 20:01] sbezverk commented on #28
@jsafrane current test framework does not work well with Patch operation. Original approach is based on `core.NewUpdateAction` which accepts as one of the parameters a runtime object, it can easily be used to compare between expected and current object, as opposed to `core.NewPatchAction` which does not access the object, but requires `[]byte` containing the change. So to test it would seems one n

[2018-11-30 21:07] #94 closed

[2019-01-21 06:10] #95 closed

[2019-01-31 04:38] jayunit100 opened #120 "Can't pull images"
After trying to create the external-attacher example YML, I see a perm denied error on the Quay images.... assume theres an easy fix?  Not sure what the one would be though.

[code]

(image name change / image deleted) ?

[2019-01-31 10:00] pohly commented on #120
The image is called `quay.io/k8scsi/mock-driver`. This needs to be fixed here:
https://github.com/kubernetes-csi/external-attacher/blob/4c7f4801442c44651f398fbc2cdb541f1c29e8ee/deploy/kubernetes/deployment.yaml#L59-L61

@jsafrane: was that image renamed at some point?

[2019-01-31 11:50] jayunit100 commented on #120
hi again @jsafrane ... images need canary tags to ... added those to the PR ^

[2019-02-10 13:17] alvaroaleman opened #124 "Deleting a PV does not result in a deletion of the associated resources"
Actual behavior:

* Issuing `Delete` on a PV results in that PV vanishing but the volume at the cloud provider staying. The volume at the cloud provider only gets deleted when deleting the `PVC`

Expected behavior:

* After a PV is deleted from my cluster, all associated resources at the cloud provider are gone

[2019-02-10 13:32] alvaroaleman commented on #124
This can be reproduced by using any CSI driver that uses the external attacher (I used [this one](https://github.com/hetznercloud/csi-driver) and then either:

* Creating a storegaclass with a `ReclaimPolicy: Delete`
* Creating a PVC with that storageclass
* Deleting the associated PV after it was created
* Deleting the PVC because otherwise the PV won't go

=> PVC and PV are gone, volume at cloud

[2019-02-11 19:58] davidz627 commented on #124
This is working as intended: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain

The workflow for deleting a dynamically provisioned volume is to just remove the PVC. The PV and volume will get cleaned up automatically. The reason the PV "wont go" is because of the [finalizer](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#storage-object-in-use-protection) that

[2019-02-11 19:58] #124 closed

[2019-02-26 14:26] darcyllingyan opened #126 "AttachVolume.Attach failed for volume "pvc-3d1d6dfb-39c3-11e9-9185-fa163e02d826" : node has no NodeID annotation"
Hi,
I have created the CSI plugin in my kubernetes cluster, now the SC, pvc, pv has been created successfully. But when create pod to attach the volume, it always reports the error "AttachVolume.Attach failed for volume "pvc-3d1d6dfb-39c3-11e9-9185-fa163e02d826" : node "sdc-bcmt-01-edge-worker-01" has no NodeID annotation"
[code]
Below is the detailed log for attacher container:
[attacher00.log](h

[2019-02-26 19:37] davidz627 commented on #126
Hi Darcy, what version of Kubernetes are you running on?

[2019-02-27 00:41] darcyllingyan commented on #126
Hi David,
My kubernetes version is v1.12.3.
[code]

[2019-02-27 00:59] davidz627 commented on #126
@darcyllingyan This is a known issue that we fixed in Kubernetes 1.13. We will look into cherry-picking the change into 1.12 which would put it in the next patch release.

For now the workaround would be to remove your driver from the cluster and then deploy it again. That should solve the issue in most cases

[2019-02-27 01:11] darcyllingyan commented on #126
Hi David,
Thanks for the response!

You mean I remove the the sidecar containers(external-attacher, external-provosioner,  node-driver-registratar) and  the driver, then deploy again? This method seems don't take effect as I have remove/deploy several times.

Thanks
Darcy

[2019-02-27 02:04] darcyllingyan commented on #126
Hi David,
Besides, I have created the csinodeinfo CRD and enable the feature-gates for CSINodeInfo, I can't get the csinodeinfo successfully.
[code]

[2019-02-27 18:53] davidz627 commented on #126
@darcyllingyan what was the sequence of steps you followed? I believe in `1.12` you must:
1. Install the `CSINodeInfo` CRD
2. Deploy your driver, making sure that the driver goes through plugin registration mechanism (the uds must be dropped in the right place `/var/lib/kubelet/plugins_registry/`)
3. `kubectl get csinodeinfo` should show your driver.

Let me know if that is not the case, there may

[2019-02-27 23:35] verult commented on #126
@darcyllingyan to clarify, in your top post you did *not* have the CRD installed and did not enable CSINodeInfo feature gate, right?

[2019-02-28 01:00] darcyllingyan commented on #126
@davidz627 ,@verult,
Yes, I follow your sequence and still the ```kubectl get csinodeinfo``` reports nothing.
Just now I delete all the related resources(crd, driver, pvc), and re-created with the sequence again.
Below is my procedure:
1. Add the CSIDriverRegistry=true feature-gates for kube-apiserver and kubelet.
2. The initial state after I delete all the resources, not sure why the csidrivers s

[2019-03-01 18:47] verult commented on #126
The CSINodeInfo feature gate needs to be set to true on both apiserver and kubelet as well

[2019-03-01 18:48] verult commented on #126
If there's a gap in our documentation about enabling this feature gate please let us know, thanks!

[2019-03-02 01:23] darcyllingyan commented on #126
@verult ,
Thanks for the response.
Sorry for the misleading about my step 1.

In fact, I have enabled the CSINodeInfo(not only CSIDriverRegistry) feature-gates both on apiserver and kubelet, but it still shows nothing for the ```kubectl get csinodeinfos```.
Below is my changing process:
1. For the apiserver feature-gate
[code]
2. For the kubelet:
[code]
Thanks
Darcy

[2019-03-02 01:47] darcyllingyan commented on #126
@verult ,
Besides, I created another kubernetes with the kubernetes version is v13.2 to avoid the issue.
But now even the sidercar containers and the csi drivers can't be started successfully.
[code]

[2019-03-05 12:20] Akrog opened #128 "Raw block volumes fail to attach"
CSI has supported raw block volumes since version 0.1, and Kubernetes since v1.9, but the external-attacher cannot attach a block volume.

When attaching raw block volumes we don't even see an error on the external-attacher logs saying it cannot handle it, it just goes ahead assuming it's a mount type attach.

[2019-03-05 13:44] #128 closed

[2019-03-05 14:14] darcyllingyan opened #131 "The external-attacher(external-provisioner) image size built private is much bigger than download from quay.io"
Hi,
Now I want to built the external attacher image private, but the image size is much bigger than download from quar.io.
Below is the built process:
1. Download the v1.0.1 attacher source code.[https://github.com/kubernetes-csi/external-attacher/archive/v1.0.1.tar.gz](https://github.com/kubernetes-csi/external-attacher/archive/v1.0.1.tar.gz)
2. run make csi-attacher
3. build the image
[code]
4.

[2019-03-06 13:06] #131 closed

[2019-03-07 19:46] verult commented on #126
Would you mind sharing your DaemonSet spec for the node deployment? I'm wondering if node-driver-registrar args are set correctly.

The other thing I could think of is GetNodeId isn't implemented correctly, but if you are using a published Cinder driver it's probably OK.

[2019-03-18 15:08] darcyllingyan commented on #131
It's because I change the base image.

[2019-04-05 04:37] msau42 commented on #120
/close
Fixed by #121

[2019-04-05 04:37] #120 closed

[2019-04-06 08:07] hadifarnoud commented on #99
if CSINodeInfo is not required, please remove it from docs

[2019-04-15 02:50] darcyllingyan commented on #126
As I don't have a Kubernetes 1.12 and only Kubernetes 1.13, will close the issue now and will try later when I have Kubernetes 1.12.

[2019-04-15 02:50] #126 closed

[2019-04-22 16:59] msau42 opened #143 "Fix rbac rules for csinode"
It's still using the alpha CRD instead of the beta in-tree API

/help

[2019-04-24 17:19] msau42 commented on #143
/assign @lpabon

[2019-04-24 17:20] msau42 commented on #143
deploy/kubernetes/rbac.yaml

[2019-04-26 15:22] #143 closed

[2019-04-27 01:00] msau42 commented on #88
/remove-lifecycle stale
/lifecycle frozen

[2019-04-27 01:00] msau42 commented on #66
/remove-lifecycle stale
/lifecycle frozen

We can manually try to repro the issue by making attach fail with mock driver or something
/help

[2019-05-27 08:42] jsafrane commented on #28
Fixed by #149.
/close

[2019-05-27 08:42] #28 closed

[2019-05-31 22:45] verult opened #151 "Different permissions between attacher roles in example and k8s"
The RBAC permissions listed in the attacher role in the example are different from those bundled into k8s:
https://github.com/kubernetes/kubernetes/blob/4e397d971a72f5bc6dbffbacca7297f17e17c572/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L471

Should they be different? Should most users just use the built-in role?

[2019-06-03 06:36] pohly commented on #151
The built-in roles are obsolete. Building RBAC rules for an external component with an independent release cycle into Kubernetes core was a conceptual dead-end. I think we (I?) added a deprecation note for them in an older Kubernetes release; it might be okay to remove them  now.

Whoever puts together a CSI driver deployment (usually the storage vendor) must ensure that the deployment has its own

[2019-06-05 17:27] hoyho commented on #88
This can be reproduce with
storageclass.yaml like this:
[code]

when attach volume , it should be fail:

[code]

[2019-06-05 18:15] verult commented on #151
@pohly could you check when the deprecation note was added? Is there a tracking issue for removing them? If not and it hasn't been a year yet, we could use this issue for tracking

[2019-06-05 18:21] #151 closed

[2019-06-05 18:29] verult commented on #151
https://github.com/kubernetes/kubernetes/issues/78739

[2019-06-06 16:02] #88 closed

[2019-06-06 16:04] msau42 commented on #88
@hoyho, can you also help check the secret rbac rules in the other sidecars too?

[2019-06-07 16:15] hoyho commented on #88
sure

[2019-06-07 21:09] davidz627 opened #153 "GetVolumeCapabilities incorrectly errors when multiple volume capabilities are specified in the PV"
A PersistentVolume can contain multiple access modes:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

When multiple access modes are given to the `CreateVolume` call it is the drivers responsibility to provision a volume that satisfies all access modes:

  // provision a volume that will satisfy ALL of the capabilities
  // specified in this list. Otherwise SP MUST re

[2019-06-10 09:11] jsafrane commented on #153
That **is** the heuristics. See
https://github.com/kubernetes-csi/external-attacher/blob/08983ee75bd777ac779ef1e5e7a746ff72be339d/pkg/controller/util.go#L182-L204

For `[ReadOnlyMany, ReadWriteOnce]` PV, the external attacher simply does not know if the attachment is going to be consumed as read-only(-many) or as read-write(-once) and that's where its heuristics ends. The nearest usable CSI mode t

[2019-06-10 21:10] davidz627 commented on #153
Right, that makes sense.

I guess this is more of a migration compatibility case then. It looks like for in-tree GCE PD if `[ReadOnlyMany, ReadWriteOnce]` is set the disk is just attached in `Read/Write` mode. However, currently with CSI and with Migration on, using the same AccessModes will cause the attach to fail because of the external-attacher.

It may be that the "correct" solution for migra

[2019-06-10 21:42] msau42 commented on #153
According to kubernetes/kubernetes#70505,  external-attacher also uses readOnly field in [CSIPersistentVolumeSource](https://github.com/kubernetes-csi/external-attacher/blob/3cb3d2f18ed8cb40371c6d8886edcabd1f27e7b9/pkg/controller/csi_handler.go#L286).

Can we not ignore/override accessmode check in this case?

[2019-06-11 08:29] jsafrane commented on #153
`PV.Spec.CSI.ReadOnly=true` and `AccessMode=[ReadOnlyMany, ReadWriteOnce]` don't go well together - the volume is read-only, so why `ReadWriteOnce`? The attacher could use `MULTI_NODE_READER_ONLY` if ReadOnly is `true` and `SINGLE_NODE_WRITER` otherwise as a workaround and "best effort" heuristics, but it's not 100% accurate one.

[2019-06-19 21:53] msau42 opened #158 "Changes for 2.0"
List of items we should do when we're ready for a 2.0:

* Remove deprecated fields
* Revert "revert use patch": #157

/lifecycle frozen

[2019-06-19 21:54] msau42 commented on #158
/kind feature

[2019-06-26 07:20] #102 closed

[2019-08-06 08:35] jsafrane opened #164 "external-attacher marks volumes as detached after final error"
When a CSI driver returns [non-trainsient error](https://github.com/kubernetes-csi/external-attacher/blob/e4b1060293c48dbf0c3bff15fe277a0978f210b6/pkg/attacher/attacher.go#L132), corresponding VolumeAttachment is marked as detached (i.e. attacher's finalizer is removed).

[code]

This is wrong, basically any error from `ControllerUnpublish` means that the volume could be still attacher and the att

[2019-08-08 21:43] #164 closed

[2019-08-10 00:09] msau42 opened #166 "Vendoring is broken?"
Checked out a fresh master branch and ran "make test":
[code]

[2019-08-10 00:13] msau42 commented on #166
I looked back at the pull jobs for the last merged PR:
TravisCI uses dep 0.5.1 too and it passed: https://travis-ci.org/kubernetes-csi/external-attacher/builds/569227255?utm_source=github_status&utm_medium=notification
Prow job skipped vendor check because it's dep version is too old :(  https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-attacher/165/pull-kubernet

[2019-08-10 00:13] msau42 commented on #166
cc @pohly

[2019-08-12 17:28] msau42 commented on #158
/assign @jsafrane

[2019-08-13 10:30] hoyho opened #171 "deprecated setting `--retry-interval-end`"
[README](https://github.com/kubernetes-csi/external-attacher/blob/master/README.md#important-optional-arguments-that-are-highly-recommended-to-be-used) introduces a deprecated flag  `retry-interval-end`

Seems this flag should have be replaced by `retry-interval-max` as following code from master branch:
[code]

[2019-08-15 10:52] hoyho opened #172 "Make worker count configurable"
Currently, external-attacher will create 10 go routines when it start.
In some case,  for instance, create 1000 Pod with 1000 PVC.  Some
CSI drivers may execute `ControllerPublishVolume` slowly.
10 routines may not suitable for some case, some user may need a bigger amount of sync worker.
I think it's necessary to make the worker count configurable.

[2019-08-15 11:45] jsafrane commented on #171
/assign

The flag is not deprecated, I don't think the attacher ever used `retry-interval-end`. It looks like it's a simple typo.

[2019-08-15 14:08] #171 closed

[2019-08-16 11:20] jsafrane commented on #158
Filed https://github.com/kubernetes-csi/external-attacher/pull/173 and https://github.com/kubernetes-csi/external-attacher/pull/173

[2019-08-22 16:28] #172 closed

[2019-08-26 15:20] pohly commented on #166
Michelle Au <notifications@github.com> writes:

Can you reproduce that reliably?

I saw it once after "git checkout origin/master", but once I tried to
bisect where exactly it failed, it started working also for latest
master (= ea639596f5ab0308d3497e64745e4a4ebd678ca1 in my case).

[2019-08-29 13:32] pohly commented on #166
I submitted an enhancement for the vendor check with dep under Prow here: https://github.com/kubernetes-csi/csi-release-tools/pull/27

[2019-09-05 17:06] gnufied opened #179 "[investigate] Ensure that if an attach operation times out and plugin successfully attaches it is tracked somewhere"
This is similar to issue we have for mount operation - https://github.com/kubernetes/kubernetes/issues/82190 . I have not investigated this fully if a similar problem exists for external-attacher.

[2019-09-09 22:23] davidz627 commented on #153
/remove-lifecycle stale
/lifecycle frozen

Important open issue that still has an undefined solution. Freezing so that we don't lose it

[2019-09-19 11:49] jsafrane commented on #158
Both got merged
/close

[2019-09-19 11:49] #158 closed

[2019-09-19 11:50] jsafrane commented on #166
The PR from the previous comment was merged, is this issue fixed now?

[2019-09-19 11:53] jsafrane commented on #179
From the external attacher [readme](https://github.com/kubernetes-csi/external-attacher#csi-error-and-timeout-handling):

/close

[2019-09-19 11:53] #179 closed

[2019-09-19 18:02] msau42 commented on #166
test-vendor is running properly in prow now:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-attacher/182/pull-kubernetes-csi-external-attacher-unit/1173926579315675136/build-log.txt

So maybe this is just some problem with my local environment.
/close

[2019-09-19 18:02] #166 closed

[2019-10-03 11:59] YiannisGkoufas opened #185 "Cannot build on x86_64: not enough arguments in call to watch.NewStreamWatcher"
Hi everyone,

I am running into a bit of a weird issue.
I have one ppc64le machine in which external-attached builds without a problem:
[code]
The client-go library is:
[code]
However the exact same make command in a x86_64 machine produces the following:

[code]
The client-go library is:
[code]
Any idea what I am doing wrong? Is it a bug?

Thanks!

[2019-10-04 07:44] pohly commented on #185
It looks like you are building with Go 1.13, right? Go modules were enabled by default in that version. Our repos don't have a go.mod file and it looks like `go build` randomly picks dependencies.

We ship a working set of dependencies in `vendor`, but that gets ignored by `go build` when using modules.

Both of this should work:
- `GO111MODULE=off make build`
- `GOFLAGS=-mod=vendor make build`

C

[2019-10-04 08:50] YiannisGkoufas commented on #185
Hi @pohly thanks for getting back to me!
Apologies I forgot to add the go version ( I thought there would be somewhere reported in `go env` )
It's actually 1.12.10.
I tested the commands and both have the exact same effect on the different architectures.
The first one:
[code]
And the second one (which is working):

[code]
Of course on the ppc64le machine I get:
[code]
Is there a way to disable try

[2019-10-04 09:40] pohly commented on #185
I assumed that you had the repo checked out at `$GOPATH/src/github.com/kubernetes-csi/external-attacher`. This was required earlier; not sure whether it's mentioned in the README.md, though. It might not be, because it was common to all Go projects. Building without modules (the first command) only works in that location.

If you checked out elsewhere, then Go 1.12.x already uses modules by defaul

[2019-10-07 10:52] YiannisGkoufas commented on #185
Thanks @pohly for the clarifications.
By the way I am facing the same windows issue in node-driver-registar because of this line: https://github.com/kubernetes-csi/node-driver-registrar/blob/master/release-tools/build.make#L66

[2019-10-07 21:11] ddebroy commented on #185
@pohly Yes, we do want Windows versions of the CSI binaries as part of CI.

I was thinking for now, adding some logic to check if GOARCH == amd64 before the Windows build step to avoid the problem above in ppc64le. That is obviously a very short term hack. Long term, we probably need a matrix of os/arch combo like in [k/k](https://github.com/kubernetes/kubernetes/blob/886af6aa26fd82d495931129863cd

[2019-10-07 23:43] ddebroy commented on #185
https://github.com/kubernetes-csi/csi-release-tools/pull/35/files should address `cmd/go: unsupported GOOS/GOARCH pair windows/ppc64le`

[2019-12-04 06:04] Madhu-1 opened #194 "Attacher logging the PV Name created by other CSI driver or other plugins"
Attacher is logging the PV name which is created by other CSI drivers or created by intree storage provisioners

logs:
[code]
more info at https://github.com/rook/rook/issues/4365

[2019-12-04 08:06] pohly commented on #194
And presumably you want it to ignore those silently, without logging them?

[2019-12-04 09:03] Madhu-1 commented on #194
Yes we don't have to process the PV created by other CSI/ intree provisioners

[2019-12-11 01:52] msau42 opened #196 "Update external-attacher to use v1.VolumeAttachment"
It's still using the beta object. I think we can safely make this change without a major version bump since v1.VolumeAttachment was added in 1.13 which is below our min supported version.

[2019-12-11 01:52] msau42 commented on #196
/help
/good-first-issue

[2019-12-11 01:55] msau42 opened #197 "Update external-attacher to use v1.CSINode"
We can also remove the fallback on Node annotation at the same time. This change will require a major version bump because we would have to bump the min K8s version to 1.17 when the object was introduced.

We should make this change at least 1, if not 2 releases before the v1beta gets removed from Kubernetes.

/lifecycle frozen

[2019-12-12 14:57] jsafrane commented on #185
Is this still an issue or can we close it? Release tools were updated since the bug was reported.

[2019-12-12 15:06] #194 closed

[2019-12-20 22:21] misterikkit opened #198 "Run func should use context instead of stop channel"
It is preferable to use a context instead of a stop channel when controlling the lifetime of a function call (either long-lived goroutine or just RPC calls). Context makes it easier to propagate cancellation and still allow operations with short timeouts in a long-lived routine.

Additionally, our code will be easier to test if functions like `Run()` wait for their child goroutines to exit before

[2019-12-21 13:56] pohly commented on #198
Just to be sure that I understand correctly, waiting for the child goroutines is separate from using a context, right? Waiting can be done with helpers like a wait group.

[2019-12-31 00:00] msau42 opened #202 "kind cluster bringup failed"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-attacher/201/pull-kubernetes-csi-external-attacher-1-17-on-kubernetes-1-17/1211797311915560967/build-log.txt

[code]

[2020-01-02 09:44] jsafrane opened #203 "Stop using node annotation"
Since the external-attacher uses CSINode object that has reached beta in all supported Kubernetes releases, the attacher should stop using `csi.volume.kubernetes.io/nodeid` annotation on Node objects.

[2020-01-21 12:48] zuzzas opened #207 "Delay PublishVolumeRequest until OFFLINE-resizable Volume is resized"
If a plugin has a `VolumeExpansion.OFFLINE`, then a resize process should happen after `ControllerUnpublishVolume` and before `ControllerPublishVolume`.

Currently, this is not the case, and if I am to delete Pod, then external-resizer and external-attacher would race each other. If external-resizer wins and calls `ControllerPublishVolume` before a resize operation is finished, then we have to del

[2020-01-21 12:51] zuzzas commented on #207
Here is the hack:
1. Lock volume if there is a resize operation pending: https://github.com/flant/yandex-csi-driver/blob/master/driver/controller.go#L559
2. Refuse to `ControllerPublishVolume` if it is locked: https://github.com/flant/yandex-csi-driver/blob/master/driver/controller.go#L270-L272
3. Unlock volume if it is resized: https://github.com/flant/yandex-csi-driver/blob/master/driver/control

[2020-01-23 16:51] jsafrane opened #208 "Incorrect repository layour for v2 Go Modules"
From https://github.com/kubernetes-csi/external-snapshotter/issues/239:
[code]

See https://github.com/kubernetes-csi/external-snapshotter/pull/240 for a fix.

[2020-01-25 08:14] alex1989hu commented on #208
Do you need `dep` compatibility with all of its side effect (e.g. symlink creation in `v2` directory)?

[2020-01-28 09:05] #208 closed

[2020-01-31 08:42] alex1989hu commented on #208
To verify: https://sum.golang.org/lookup/github.com/kubernetes-csi/external-attacher/v2@v2.1.1

**Example go.mod**
[code]
Import statements have to be updated to use it correctly:

[code]

[2020-01-31 13:11] jsafrane opened #212 "Bump version to 3.0.0"
If #200 is merged, it introduced RBAC change that needs major version bump of the attacher to v3.0.0. And therefore we need to bump also attacher's go module to v3, similarly to #209 before release.

[2020-02-03 16:27] #203 closed

[2020-02-13 06:24] celiawa commented on #66
Ran into the similiar issue here.  When we do helm delete, after deleting pods, which also has hooks to delete the pvcs. Found that some PV stuck in Terminating status.

`kubectl describe pv pvc-31d6cb9c-1ebd-421b-a13f-b5abf23ea007
Name: pvc-31d6cb9c-1ebd-421b-a13f-b5abf23ea007
Labels: <none>
Annotations: pv.kubernetes.io/provisioned-by: cinder.csi.openstack.org
Finalizers: [external-attacher/cind

[2020-02-20 02:06] celiawa commented on #66
@msau42, Any plan to fix this issue.

[2020-02-20 02:11] msau42 commented on #66
I think the problem is in the cinder driver where it cannot handle the case where detach is called on a volume that has been deleted.

[2020-02-20 09:14] celiawa commented on #66
Thanks @msau42, I'll open a ticket to cinder driver.

[2020-03-11 18:17] #185 closed

[2020-03-12 02:09] msau42 opened #215 "VolumeAttachment not marked as detached causes problems when the Node is deleted."
In https://github.com/kubernetes-csi/external-attacher/pull/184, we had decided that instead of marking the VolumeAttachment as detached, we would just requeue the volume to have the workqueue process it again.

However, this doesn't work in the case where the Node is deleted. In that scenario:

1. ListVolumes() shows that volume is not attached to the node anymore
2. ReconcileVA() sets force sync

[2020-03-12 02:09] msau42 commented on #215
cc @jsafrane

[2020-03-12 02:09] msau42 commented on #215
/kind bug

[2020-03-12 19:32] raunakkumar opened #216 "Stale mounts are left if pod is deleted before nodePublish is completed"
When a pod is deleted before nodePublish is done, but after nodeStage is done, it will not be unmounted by kubelet. This causes stale mounts on host to be left around.

[2020-03-13 17:16] msau42 commented on #216
Please open an issue in kubernetes/kubernetes and tag sig storage.

[2020-03-13 17:28] raunakkumar commented on #216
Associated with issue https://github.com/kubernetes/kubernetes/issues/89112

[2020-03-13 17:30] msau42 commented on #216
Thanks, closing this one as this is not the component handling nodepublish
/close

[2020-03-13 17:30] #216 closed

[2020-03-16 17:32] jsafrane commented on #215
The volume might be already *attaching*. A/D controller does not know about that.

It's not possible to distinguish `attaching` from `attached` there.

IMO, A/D controller (or csi plugin) should see the Node does not exist and delete VolumeAttachment.

[2020-03-16 18:00] msau42 commented on #215
Do you see a problem if we mark VolumeAttachment as detached while it's still attaching? How is this different from the normal case when we are first attaching a volume and it's VolumeAttachment.status.attached = false?

[2020-03-17 08:47] jsafrane commented on #215
From external provisioner POV, it should be safe. In the worst case when both regular sync and ListVolume sync race, it marks just attached volume as detached. This causes VolumeAttachment to be synced again, ControllerPublish will be called and it will fix the VolumeAttachment status.

Still, something in the A/D controller / CSI plugin there must check the destination node is gone and delete Vol

[2020-03-17 14:02] msau42 commented on #215
When a node is deleted, the combination of pods getting deleted and AD.verifyvolumesattached causes the detach

[2020-03-17 14:06] msau42 commented on #215
I forgot to mention in the initial comment, the Pod does get deleted, which should trigger detach, however AD controller doesn't because it still sees the volume mounted in asw and says it's not safe to detach. This also starts the 6 minute force detach timer.

It depends on VerifyVolumesAttached to override asw.

[2020-03-17 15:42] jsafrane commented on #215
It starts making sense now.

I'm thinking if it can break anything in A/D controller. If A/D `VerifyVolumesAreAttached` finds a volume that is detached and the pod does not exist, it will remove the pod from ASW. Who is going to delete the `VolumeAttachment` then? CSI plugin.Detach is not called... Should A/D controller call it?

[2020-03-17 17:21] msau42 commented on #215
Looks like VolumesAreAttached calls DeleteVolumeNode, which completely removes it from asw, so you're right, Detach won't get called and VolumeAttachment will be leaked. One possibility is to not completely remove it from asw, but mark some special state.

Another possibility is we add VolumeAttachment GC to the AD: https://github.com/kubernetes/kubernetes/issues/77324

[2020-03-17 17:25] msau42 commented on #215
Another thought, should VolumeAttachment have ownerref to Node object so when the Node object gets deleted, we automatically trigger Detach?

[2020-03-18 08:36] jsafrane commented on #215
I'd prefer to have a proper fix instead of piling up hacks in A/D controller & external-attacher.

Node object is deleted. `PodGCController` deletes pods from the node. Should it delete VolumeAttachments too? That looks too CSI specific... Or should we add loop to A/D controller to force-detach from really deleted nodes sooner that in 6 minutes? This will work for all volume plugins and we don't n

[2020-03-19 00:51] msau42 commented on #215
VerifyVolumesAreAttached is still needed for other scenarios where node still exists but volume got detached out of band, or node gets recreated with the same name.

The other thing I realized is that this problem only occurs if the Node is ungracefully deleted (without a drain).

If someone deleted the Node object, kubelet only recreates it if it restarts.

I think we should still let Pod GC invo

[2020-03-19 02:49] msau42 commented on #215
I discussed a bit with @saad-ali and he has concerns about using the volumeattachment.status.attached field to indicate that a volume is detached because it could also mean attach or detach could be in progress. If we want to fix this, we may need to think about having a new field that can actually indicate something is detached with nothing in progress.

Also, we probably should revisit the logic

[2020-03-19 09:02] jsafrane commented on #215
The only signal that a volume is fully detached is that `VolumeAttachment` is deleted / missing and IMO only this should be used by A/D controller to check that the volume is fully detached. When `VolumeAttachment` exists, the volume may be attaching / detaching / fully attached.

We could add "detached and can't attach because node is gone" to `VolumeAttachment`, but that is safe and race free on

[2020-03-25 05:58] rfranzke opened #217 "Unable to release finalizer for PVs created via legacy storage class"
The out-of-tree CSI drivers are still ([and forever?](https://kubernetes.slack.com/archives/CG04EL876/p1578500027013800?thread_ts=1578474999.005000&cid=CG04EL876)) compatible with the legacy (in-tree) provisioners, e.g. `kubernetes.io/aws-ebs`.
Provisioning + attaching a PV referencing such a storage class works perfectly fine with solely CSI. However, deleting such a volume is buggy as the extern

[2020-03-25 06:06] rfranzke commented on #217
Steps for reproduction:

1. Create a Kubernetes cluster and install the necessary CSI controllers into it.
1. Create a `StorageClass` with a legacy provisioner:
[code]
3. Create a `PersistentVolumeClaim` referencing it and a `Pod`:
[code]

4. See the volume being correctly provisioned and attached. The external-attacher adds its finalizer correctly to both `VolumeAttachment` and `PersistentVolume`

[2020-03-31 07:46] #217 closed

[2020-03-31 07:56] jsafrane commented on #207
I think this should be solved on the driver level.

Kubernetes is a dynamic system and does not offer any mechanism to "lock" objects on controller level and clean up the locks when a controller dies / restarts.

[2020-03-31 08:08] zuzzas commented on #207
Oh, but there are examples of locking throughout the Kubernetes. Leases (and Endpoints previously) that are used for leader election is a good example.

[2020-03-31 11:00] jsafrane commented on #207
Leader election works per controller (i.e. one object per cluster). You want to have a lock per PV. That's completely different scale.

We tried to add annotation with a lock to PVCs to be able to run multiple provisioners in parallel, but adding/removing/checking the annotation on every PVC basically overloaded API server.
See https://github.com/kubernetes-incubator/external-storage/pull/892, htt

[2020-03-31 11:35] zuzzas commented on #207
Okay, I see, thanks for the references.

Let's approach the issue from another direction. Has there been a successful CSI `OFFLINE` ExpandVolume which does not suffer from issues that I've outlined on the top? Because I am not sure how that can be fixed on the driver side, if the driver is not aware (when Publishing Volume) that there is a resize pending.

[2020-04-03 00:01] msau42 commented on #202
haven't seen issue again
/close

[2020-04-03 00:01] #202 closed

[2020-04-10 00:55] msau42 commented on #196
/lifecycle frozen

[2020-04-17 15:47] #196 closed

[2020-04-20 17:38] misterikkit commented on #198
Yes, that's right.

[2020-04-20 21:42] msau42 opened #225 "Failed to remove finalizer on VolumeAttachment"
After https://github.com/kubernetes-csi/external-attacher/pull/200 merged, our pd driver tests started failing/flaking, especially the test cases that create a 2nd pod on the same node.

It seems like the attacher keeps trying to processing the VolumeAttachment object, but VolumeAttachment object is not able to be deleted. These messages are repeated forever:
[code]

[2020-04-20 21:52] msau42 commented on #225
The VolumeAttachment object has a deletion timestamp, although finalizer is still on it:
[code]

[2020-04-20 22:08] msau42 commented on #225
I think I see the issue. Inside `markAsDetached`, we remove the finalizer and update status to detached. However, we changed the patch to [patch status](https://github.com/kubernetes-csi/external-attacher/blob/3d81eb34d5cf2aae4dbbe68230ec0e6e3d40b9ec/pkg/controller/util.go#L91), but finalizer is [not part of status](https://github.com/kubernetes-csi/external-attacher/blob/3d81eb34d5cf2aae4dbbe6823

[2020-04-20 22:22] msau42 commented on #225
/kind bug

[2020-04-21 00:49] msau42 commented on #225
/assign @msau42
I will be helping a teammate work on the fix

[2020-04-21 13:32] #197 closed

[2020-04-21 15:13] msau42 commented on #198
/remove-lifecycle rotten
/help
Slightly related, we switched to 1.18 go client which requires a context to be passed in

[2020-04-21 15:19] msau42 opened #226 "Remove simple attacher mode"
Before we had skip attach feature, drivers were required to run external attacher, which has a simple mode to always set attached without calling the driver.

Now that the skip attach feature is GA, there is no need to run the sidecar anymore, so this logic can be removed.

Next major version bump would probably be a good time to do this

[2020-04-21 15:19] msau42 commented on #226
/kind cleanup
/assign @jsafrane

[2020-04-24 16:14] msau42 opened #228 "Unit tests missing coverage for patch operations"
Fake client doesn't update informer cache, and applying the patch is hard. Sync up with api-machinery for suggestions.

/kind cleanup

[2020-04-24 16:15] msau42 commented on #228
/help

[2020-04-24 17:46] #225 closed

[2020-06-06 02:48] RaunakShah opened #233 "External-attacher fails to delete after losing leader election lease"
My cluster is in a state where the external-attacher has lost its lease to be leader but is still in the "Running" phase.

I see the following logs at start up in external-attacher:

[code]

This cluster has been used at scale, so my attacher logs span ~ 300k lines.
Everything is working smoothly until:

[code]

Post this timestamp, any attempt to attach volume by creating a Pod fails with this er

[2020-06-06 02:51] RaunakShah commented on #233
Also, when i look at the new attacher logs, i see this:

[code]

Looks like the old node (423404be3294a7d8e40ece6c91d26d83) was still the leader even though its been 4 days since it said "stopped leading", before this instance became leader and my cluster state was restored.

[2020-06-09 09:39] jsafrane commented on #233
@RaunakShah, the controller *should* exit & be restarted by Kubernetes. Looking at the code, `"stopped leading"` is printed this way:

https://github.com/kubernetes-csi/external-attacher/blob/4b601b90c92af49e1f146ff52be0e8042651ef47/vendor/github.com/kubernetes-csi/csi-lib-utils/leaderelection/leader_election.go#L169

And `klog.Fatal` documentation (and its code) say

From some reason, `os.Exit()`

[2020-06-09 10:34] jsafrane commented on #233
Looking at the code, this message is printed just before `os.Exit(255)`: `stopped leading`. Why it did not exit then? And why is the pod Terminating and not deleted? Can you reproduce the bug? Do you have kubelet / container runtime logs from the time when it happened so we can check what went wrong with the pod?

[2020-06-11 19:15] RaunakShah commented on #233
@jsafrane unfortunately i wasn't able to capture kubelet logs, only kube-controller-manager which doesn't have any useful information. Its not consistently reproducible, but we have found it a couple of times in the past. I'll make sure to collect kubelet logs if its seen again.

The container was still in the "Running" state. I did some more digging and found that docker still thought the contain

[2020-06-17 23:48] msau42 commented on #215
/lifecycle frozen

[2020-06-19 12:07] d33d33 opened #235 "Failing to delete VA if PV not found"
Under some workload, I end-up having VA referencing a deleted PV.

This cause the attacher to be stuck trying to detach a volume which as been deleted

[code]

The code return an error if PV is not found.
https://github.com/kubernetes-csi/external-attacher/blob/f7356c9bbc3a820a448189182080dfa6d74f3a3b/pkg/controller/csi_handler.go#L502

Can we assume that the volume is detach of the PV is deleted?

[2020-07-03 08:53] pohly commented on #212
/remove-lifecycle stale

@xing-yang : would it be possible to to a v3.0.0-alpha1 of external-snapshotter?

I need to import a recent release of external-snapshotter with support for client-go >= 1.18 into external-provisioner for the storage capacity work, see https://github.com/kubernetes-csi/external-provisioner/pull/450

I could just import master, but that's sub-optimal.

[2020-07-03 14:01] jsafrane commented on #212
@pohly, this is external-attacher, not snapshotter. Are you sure you need external-attacher 3.0.0-alpha? People usually don't import this repo.

[2020-07-03 14:06] jsafrane commented on #235
This is why external-attacher has an finalizer on PV. PV must exist until the volume is fully detached. The attacher IMO should not assume that a missing PV has been detached.

In other words, users should not force remove PVs. And if they really need to do it, they should remove the VolumeAttachment too.

[2020-07-06 14:24] pohly commented on #212
Right, I mixed up snapshotter and attacher.

[2020-07-20 17:29] misterikkit commented on #198
/remove-lifecycle stale

[2020-07-22 06:16] jsafrane commented on #226
/lifecycle frozen

This needs to wait until https://github.com/kubernetes/kubernetes/issues/89173 is fixed

[2020-07-24 22:20] msau42 opened #241 "Separate k8 clients for leader election and attacher"
We don't want api throttling due to heavy volume activity to also throttle leader election, so it would be good to have different k8s clients for them. We've already made the change in provisioner and resizer. It would be good to make for the remaining sidecars.

cc @xing-yang @jsafrane

[2020-07-24 22:56] xing-yang commented on #241
@msau42 do you also want to have configurable QPS and Burst for k8s clients in the external-attacher?

[2020-07-24 22:56] xing-yang commented on #241
CC @RaunakShah

[2020-07-25 00:18] msau42 commented on #241
I think we can leave configurable qps and burst until we have time to do more performance experiments.

[2020-07-25 00:38] xing-yang commented on #241
Sounds good.

[2020-07-27 07:46] jsafrane commented on #241
/assign

[2020-07-27 07:54] jsafrane commented on #241
See https://github.com/kubernetes-csi/external-attacher/pull/242

[2020-07-27 12:02] #241 closed

[2020-07-29 17:09] david-enli opened #243 "Is reconciling only available for in-Tree drivers?"
Hello, After enabling `csi.ControllerServiceCapability_RPC_LIST_VOLUMES_PUBLISHED_NODES` in controllerserver and including the PublishedNodeIDs field in the ListVolumes response. We started to see the following log message from the csi-attacher sidecar. And I found the following function called as part of the reconciling code from the sidecar:

[code]
is reconciling not supported for non in-tree C

[2020-07-29 18:17] msau42 commented on #243
/kind bug
That sounds like a bug. If a driver doesn't suppose csi migration, we should not call repairvolumehandle.

[2020-07-29 20:35] david-enli commented on #243
I'm so sorry, forgot to include the log message:
`W0729 13:59:06.131593       1 csi_handler.go:159] Failed to repair volume handle  for driver pure-csi: could not find In-Tree driver name for CSI plugin pure-csi`

[2020-08-03 21:47] msau42 commented on #243
@yuga711 is going to work on a fix

[2020-08-13 08:03] jsafrane commented on #228
/remove-lifecycle stale

[2020-08-18 17:40] yuga711 opened #247 "Add tests for ReconcilerVA using volume type that supports migration"
The csi_handler tests use "csi/test" driver/plugin types that do not have corresponding intree drivers (ie., no migration support is necessary for this driver). We will need to implement tests that use one of the migration supported [plugin types](https://github.com/kubernetes/kubernetes/blob/ded1f58779d0d2570735a6ebe7428d57a100ca97/staging/src/k8s.io/csi-translation-lib/translate.go#L29) to valid

[2020-08-19 07:45] #243 closed

[2020-08-28 13:05] #207 closed

[2020-10-05 13:08] jsafrane commented on #212
/close
3.0 has been released a while ago

[2020-10-05 13:08] #212 closed

[2020-10-16 17:20] bnrjee opened #264 "Allow adding ldflags during compilation."
We should be able to pass ldflags while running make. Right now we can not append any extra ldflags to the existing flags which are already in place in the "release-tools/build.make" file.
We are trying to create a binary with out debug info. This change will help us pass the "-s" flag while running make.

[2020-10-19 16:27] jsrz opened #266 "Multi-arch image support"
Hello,

Would like to put in a request for support of multi-arch images (Arm). Current external-attacher images only support x86.
I verified that I can easily build binaries and docker images manually, so I'd imagine it shouldn't take too much effort to support this.

[2020-10-19 17:07] jsafrane commented on #266
I am not familiar with our image building, but according to https://github.com/kubernetes-csi/external-attacher/pull/261 we do have arm64 image.

Is `docker pull k8s.gcr.io/sig-storage/csi-attacher:v3.0.0` not working?

[2020-10-19 17:18] jsrz commented on #266
Hello,

That image pull appears to work and run. It errors on config, which is fine, as long as there is no exec format error I think it's good.

However, you seem to be hosting from a different location than what I'm using.

I'm running rook (https://rook.io). It seems to source images from quay:
quay.io/k8scsi/csi-attacher:v2.1.0

I can try pointing to images on k8s.gcr.io instead of quay.io, bu

[2020-10-19 17:29] jsafrane commented on #266
We've moved from quay.io/k8scsi to gcr.io exactly to enable multiarch images.

[2020-10-19 17:35] jsrz commented on #266
I see, so perhaps it's just a matter of waiting on rook to switch their default images over to gcr.io. Got it.

Thanks! Closing

[2020-10-19 17:35] #266 closed

[2020-11-08 21:18] #233 closed

[2020-11-30 15:49] #235 closed

[2020-12-11 13:32] emiliodangelo opened #284 "external-attacher crashing in azuredisk-csi-driver and azurefile-csi-driver"
From https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/495

**What happened**:
After installing azurefile-csi-driver and azuredisk-csi-driver in a Kubernetes cluster, *csi-attacher* container, inside *csi-azurefile-controller and csi-azuredisk-controller pods, is crashing every 1 or 2 minutes with the following message:

*csi-attacher* log:
[code]

**What you expected to happen**:
The

[2020-12-11 17:39] msau42 commented on #228
/remove-lifecycle rotten

[2020-12-18 10:34] pohly commented on #198
/reopen
/remove-lifecycle rotten
/lifecycle frozen
/help wanted

[2021-01-05 08:34] michael-db opened #287 "external-attacher should not decide default filesystem type"
When filesystem type (FSType) is empty, the csi-attacher sidecar changes it to "ext4" before calling the CSI driver's ControllerPublishVolume().

It should not. While the default for many types of volume is "ext4", no default is specified for a CSI volume, and that is correct: it is the particular CSI driver that must decide what the default filesystem is when none is specified, not the sidecar co

[2021-01-15 19:51] #247 closed

[2021-02-11 00:46] mattcary opened #290 "Make release with latest translation-lib"
Should happen before 1.21 release.

https://github.com/kubernetes/kubernetes/pull/97823 has the changes we want.

/cc @Jiawei0227

[2021-02-11 00:56] msau42 opened #291 "ControllerPublishVolume called frequently after attached"
We're seeing ControllerPublishVolume being called very frequently on already attached volumes. This is skewing our metrics and hiding errors because we see the majority of ControllerPublishVolume calls succeed < 1 second. The frequency seems to match with the frequency of ListVolumes, so I suspect it's related to the reconciler there.

/kind bug

cc @Jiawei0227 @chrishenzie

[2021-02-11 01:13] Jiawei0227 commented on #291
On a side note, since we have volume_operation_duration_seconds to record PV provision/delete e2e time. We could also record attach/detach e2e metric to it using VolumeAttachment object

[2021-02-18 22:23] alex-berger commented on #215
Any news on this, this is really annoying as there are so many opportunities where nodes are deleted:
- by the cluster autoscaler
- during cluster upgrade
- ...
And then we always have to manually fix dozens of pods which cannot start as they cannot attach their volumes.

[2021-03-01 18:56] divyenpatel commented on #291
@msau42 we are also seeing `ControllerUnpublishVolume` called twice for the same volume. We have not implemented ListVolumes in the vSphere CSI Driver.

Time Stamp: 2021-02-28T19:04:12.439965592Z

{"log":"{\"level\":\"info\",\"time\":\"2021-02-28T19:04:12.995041397Z\",\"caller\":\"volume/manager.go:431\",\"msg\":\"DetachVolume: volumeID: \\\"13919647-99f2-4033-990d-947dd79e34e2\\\", vm: \\\"Virtua

[2021-03-15 18:57] #264 closed

[2021-04-09 20:34] msau42 commented on #287
Agree, I think external-attacher should just use whatever fstype is set on in the pv object. Maybe introduce a cmd line argument similar to external-provisioner for backwards compatibility. @jsafrane wdyt?

/remove-lifecycle stale

[2021-04-12 09:17] jsafrane commented on #287
Yes, a new argument to turn off the autodetection would be the best, potentially deprecating the old behavior and removing it in a future release.

[2021-04-12 09:18] jsafrane commented on #228
/remove-lifecycle rotten

[2021-05-04 07:11] themonaminor commented on #266
k8s.gcr.io/sig-storage/csi-attacher:v3.0.0  is this image is compatible on windows nodes?

[2021-05-04 07:15] themonaminor opened #301 "csi-attacher for windows nodes"
Hi  i wanted to mount a PVC on windows node.
for that i don't find any csi-attacher image which i can use and deploy on windows node.

could you help me in this

[2021-05-04 08:44] pohly commented on #266
No. Only node-driver-registrar has Windows support: https://github.com/kubernetes-csi/node-driver-registrar/blob/master/Dockerfile.Windows

[2021-05-04 08:48] pohly commented on #301
I think you are expected to run the Kubernetes control plane pods on Linux.

[2021-05-04 08:52] themonaminor commented on #301
hi i have installed csi pods (attacher,provisioner,node-driver-registrar, snapshotter) on linux nodes.

but lets say i created a PVC. now i wanted to mount the PVC to pod and that pod is assigned to windows nodes in a k8s, then its throwing error because csi is not able to work on windows nodes.

as csi are based on linux based host so it will not mount any pvc to a pod which will get assigned to

[2021-05-04 08:59] pohly commented on #301
Your CSI driver pod and its associated node-driver-registrar must support Windows. csi-attacher doesn't need to run on the node where you use a volume.

[2021-05-07 19:45] ialidzhikov commented on #215
@msau42 , isn't this issue resolved by https://github.com/kubernetes/kubernetes/pull/96617 (which is the fix for https://github.com/kubernetes/kubernetes/issues/77324)?

[2021-05-10 07:50] arahamad opened #307 "csi-attacher:v3.1.0 image having VA issues"
following is the VA issues in csi-attacher:v3.1.0 image

Vulnerable Packages Found
=========================

Vulnerability ID   Policy Status   Affected Packages   How to Resolve
DLA-2542-1         Active          tzdata              Upgrade tzdata to >= 2021a-0+deb9u1
DLA-2509-1         Active          tzdata              Upgrade tzdata to >= 2021a-0+deb9u1

[2021-05-10 15:14] #284 closed

[2021-05-12 02:04] mattcary commented on #290
Fixed by #306

[2021-05-12 02:04] #290 closed

[2021-05-19 04:10] jingxu97 commented on #301
Due to the fact the privileged container is not yet support for Windows, we have csi-proxy project to support volume operations on windows host. Please check some details on csi-proxy repo https://github.com/kubernetes-csi/csi-proxy

There are a few CSI driver support Windows including gce pd, azure, and smb driver.

[2021-07-12 10:08] jsafrane commented on #228
/remove-lifecycle stale

[2021-08-02 05:27] barhatesw09 commented on #66
Any update on this???

[2021-08-06 20:01] #291 closed

[2021-08-09 21:18] mitchellmaler commented on #215
Still ran into this running Kubernetes v1.21.3. The node was deleted and the VolumeAttachment was still around specifying the old node name.

[2021-08-09 23:39] msau42 commented on #215
Those scenarios are graceful scenarios, where we highly recommend drain is done first. Draining first before deleting the node should solve at least the graceful case. Although there is a slight race that the drain process also needs to fully wait for volumes to be completely unmounted.

For the ungraceful case, the 6 minute force detach should kick in

[2021-08-10 07:22] alex-berger commented on #215
@msau42 this happens every now and then in our clusters and 6 minutes is a long delay in a world with 99.95% and more uptime SLAs. Also note, that we already drain the nodes and still it might happen that a node terminates immediately without prober draining.
That's reality and not just theory, and we have to deal with it. That's why we need resilient and self healing controllers, which make sure

[2021-08-12 13:31] pawcykca opened #326 "csi-attacher:v3.3.0 image unavailable"
Image from latest release v3.3.0 is not available in 'k8s.gcr.io' registry:
`docker pull k8s.gcr.io/sig-storage/csi-attacher:v3.3.0
Error response from daemon: manifest for k8s.gcr.io/sig-storage/csi-attacher:v3.3.0 not found: manifest unknown: Failed to fetch "v3.3.0" from request "/v2/sig-storage/csi-attacher/manifests/v3.3.0".`

[2021-08-12 13:38] pohly commented on #326
Images are no longer published on k8s.gcr.io. The new location is k8s.gcr.io/sig-storage/csi-attacher

[2021-08-12 20:40] msau42 commented on #326
The url looks correct. I think the issue is it takes some time for us to manually promote the image after cutting the tag.

https://github.com/kubernetes/k8s.io/pull/2531 should fix it.

[2021-08-13 07:16] pawcykca commented on #326
@msau42 Yes, it's working now - thanks!

[2021-08-13 07:16] #326 closed

[2021-08-16 07:30] michael-db commented on #287
/remove-lifecycle stale

[2021-08-16 07:31] michael-db commented on #287
/remove-lifecycle rotten

[2021-09-15 15:16] Kartik494 commented on #307
/remove-lifecycle rotten

[2021-09-15 15:18] Kartik494 commented on #307
Hi @arahamad Could you explain more on issue you facing while using `csi-attacher:v3.1.0`  image

[2021-09-16 03:30] themonaminor opened #328 "csi-attacher image is having vulneraility"
please release vulnerability free container image for csi-attacher

[2021-09-23 13:55] andyzhangx commented on #328
@themonaminor
why do you think there is vulnerability? I used `trivy`, did not find any vulnerability issue.
[code]

[2021-11-09 02:50] cornfeedhobo commented on #307
@arahamad you posted an error about a debian system. That isn't about this repo.

[2021-11-09 13:13] pohly commented on #228
/remove-lifecycle rotten

[2021-11-10 19:35] msau42 opened #332 "Attachment reconciler is incorrectly using nodeid annotation"
The nodeid annotation has been deprecated and removed for a few releases now. This logic is probably not working:
https://github.com/kubernetes-csi/external-attacher/blob/c4cfca3cd22d7437f0a1d712e3fac30211d6ec09/pkg/controller/csi_handler.go#L137

It should be using this instead:
https://github.com/kubernetes-csi/external-attacher/blob/c4cfca3cd22d7437f0a1d712e3fac30211d6ec09/pkg/controller/csi_ha

[2021-11-10 19:35] msau42 commented on #332
/kind bug
/help
/good-first-issue

[2021-11-16 12:38] jsafrane commented on #287
/remove-lifecycle stale

[2021-11-29 02:36] mowangdk commented on #332
/assign

[2021-12-01 14:32] jsafrane commented on #332
@msau42, the change you suggested is good to have, still, the annotation is needed to detach volumes from machines that don't have CSINode - for example when they were deleted. I think the logic in `getNodeID` still works and the annotation was not removed from VolumeAttachment: https://github.com/kubernetes-csi/external-attacher/blob/631c3aa70e825c77805753bb776333239ea9ade9/pkg/controller/csi_han

[2021-12-01 18:06] msau42 commented on #332
Thanks, I confused it with the nodeid annotation on Node objects. Maybe adding a comment describing that scenario would be helpful.

[2021-12-08 14:20] uzuku opened #337 "Retry on attach error does not respect exponential backoff"
Attacher version: v2.2.1
K8S version: 1.18

When ControllerPublishVolume call returns an error, attacher should requeue the VA and retry in an exponential backoff, if I understand correctly. On k8s prior to 1.18, this mechanism is respected.

However, on k8s whose version greater than 1.18, attacher behaves just like the following loop when attach error occurs:

pseudo-code:

[code]

In brief word

[2021-12-09 10:06] #332 closed

[2021-12-09 10:52] #337 closed

[2021-12-23 13:11] tomaso opened #341 "csi-attacher:v3.4.0 image unavailable"
This is similar issue to #326 - there is already a v3.4.0 tag visible at https://api.github.com/repos/kubernetes-csi/external-attacher/releases/latest
but it is not possible to pull the image from k8s.gcr.io/sig-storage/csi-attacher:v3.4.0

[2022-01-03 10:08] jsafrane commented on #341
This was fixed by https://github.com/kubernetes/k8s.io/pull/3225

[2022-01-03 10:08] #341 closed

[2022-01-05 08:48] RomanBednar opened #343 "change default fstype from "ext4" to empty string"
This is a followup for [issue 287](https://github.com/kubernetes-csi/external-attacher/issues/287) which adds a workaround to remove default filesystem type interference by providing a new csi-attacher argument  (--default-fstype). When this argument is not used we still default to "ext4".

Next major release allows a behavior change where we can start defaulting to empty string instead of "ext4".

[2022-01-06 10:14] #287 closed

[2022-02-20 15:40] #328 closed

[2022-04-08 04:13] #307 closed

[2022-04-08 14:21] #228 closed

[2022-05-13 19:23] jsafrane commented on #343
/remove-lifecycle rotten

[2022-05-23 12:11] timoreimann opened #356 "Single timeout for attachment/detachment and reconcile resync operations not always appropriate"
Today, the timeout value configurable on the sidecar applies to the regular attachment/detachment operations as well as the reconcile resyncs. However, with accounts that have a very large number of volumes in the backend, resyncs might take significantly longer to complete. We have such a case where, despite supporting paging at the maximum size possible, we needed to bump the resync timeout to m

[2022-05-23 12:49] jsafrane commented on #356
That seems reasonable, we will gladly welcome a PR.

[2022-06-17 11:11] jsafrane commented on #226
@humblec I remember you did some crazy stuff with your CSI drivers that don't really support ControllerPublish. Do you actually implement a dummy ControllerPublish in your driver and run a real external-attacher or you just run the external-attacher in the dummy mode?

[2022-06-20 11:12] humblec commented on #226
@jsafrane unfortunately true that we did something which does not really fall into the CSI expectation. :(

latter, ie we run external-attacher in the dummy mode.  The RPC is declared as `unimplemented`.

[2022-06-21 08:09] jsafrane commented on #226
@humblec would it be possible for you to write a dummy ControllerPublish, so we can remove the dummy attacher mode?

[2022-06-21 13:05] avorima opened #363 "Emit events on attach/detach errors"
I think `kubectl describe` or the new `kubectl get events` provide a great way to quickly see any issues with a cluster. The external-attacher errors are IMO somewhat hidden in the VA status and it would be nice to emit events on PVC's to increase visibility.
I would be happy to provide a patch if that is ok.

[2022-06-22 11:06] jsafrane commented on #363
I think volume attachment errors are available in `kubectl describe pod` (events on pods, not on PVCs).

[2022-06-22 11:28] avorima commented on #363
The errors on the pod are not very detailed AFAIK, just some generic "failed" message. The attacher would able to publish the actual CSI errors for example.

[2022-06-22 13:24] avorima commented on #363
Let me see if I can reproduce my issue. The errors that I was looking for were detach errors and IIRC they were only present on the VA.

[2022-06-22 13:52] avorima commented on #363
Ah ok, then my issue title was wrong. It's only about detach errors.
Wouldn't it be alright if the event linking only happens when it's not an in-line volume?

[2022-06-22 15:48] jsafrane commented on #363
I find it odd that attach errors are sent to pods and detach errors would be PVC... I wonder if it's possible / common to send events to deleted Pods. The only way how to get the event would be `kubect get event`.

[2022-06-23 10:38] avorima commented on #363
I played around with it yesterday and it certainly is possible to create events for objects that don't exist. It would provide some sort of symmetry when using `kubectl get events --field-selector involvedObject.name` for example.

[2022-06-24 05:56] avivgold098 commented on #215
@jsafrane what do you think about that issue? My organization can help with the implementation

[2022-06-29 13:17] spriya-m commented on #215
Facing the issue with Kubernetes v1.24 as well.

[2022-08-17 21:16] briantopping opened #369 "Version 3.5.0 vulnerability with CVE-2022-1996"
Hello, release 3.5.0 is apparently vulnerable with a score of 9+ https://nvd.nist.gov/vuln/detail/CVE-2022-1996

NIST CVSS scoreNIST: NVDBase Score: [9.1 CRITICAL](https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?name=CVE-2022-1996&vector=AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N&version=3.1&source=NIST)Vector:  CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N

Nist CVSS score does not match with CNA sc

[2022-08-17 21:20] briantopping commented on #369
/area security

[2022-08-18 16:48] briantopping commented on #369
https://github.com/kubernetes/client-go/commit/2a9f95519059bcb745428698c59bf4a376c3f383 never made it in to a 1.24 release of client-go. go-restful will always be pulled in until that's cured.

[2022-08-19 01:51] briantopping commented on #369
It's not just that, apimachinery as late as v0.24.4 (yesterday) is still at https://github.com/kubernetes/apimachinery/commit/00f071187c120e93eae88bb0c35ef31fbb442a2b. Until that comes up to at least https://github.com/kubernetes/apimachinery/commit/e4283bb979b0ff67ba6432345e32bb91c099869b and dependencies are updated (including transitives such as https://github.com/kubernetes/api/blob/release-1.

[2022-09-15 14:20] vitalif opened #374 "Question about reconciling (reconcileVA) based on RPC_LIST_VOLUMES_PUBLISHED_NODES"
Hi. People suggest me to implement reconciling based on RPC_LIST_VOLUMES_PUBLISHED_NODES in my csi-s3 FUSE-based driver, however there's a problem:
As I understand reconciling is done via ControllerServer's ListVolumes which must report published nodes for each volume.
However, ControllerServer doesn't have this information - it's only available on nodes themselves in the form of running FUSE proc

[2022-09-16 11:30] amolmote opened #375 "Broken link of `contributor cheat sheet` needs to fix"
## Bug Report

I have observed same kind of issue in various kubernetes-csi project.
this happens because after the localization there are too much modifications done in the various directories.
I have observed same issue in [this ](https://github.com/kubernetes-csi/external-attacher/blob/master/CONTRIBUTING.md) page also.

It has one broken link of the `contributes  cheat sheet` which needs to fi

[2022-09-19 08:54] #375 closed

[2022-09-19 08:57] jsafrane commented on #374
I would perhaps ask *why* do you implement ControllerPublish / ControllerUnpublish and what these calls do?

In a typical CSI driver, they contact a storage API (like AWS) and attach/detach the volume to/from the node + provide any initialization / cleanup on the storage backend side. It is then natural that such storage backend has an API to list what is attached where.

In S3, I don't see such A

[2022-09-19 09:17] vitalif commented on #374
API calls happen in a typical cloud-based CSI driver, not just any CSI driver :-)
csi-s3 mounts S3 as a local FS using FUSE (geesefs / goofys / s3fs). So nodes start FUSE themselves and there's no API that can list mounted volumes.

[2022-09-19 09:23] vitalif commented on #374
Original problem is here https://github.com/yandex-cloud/k8s-csi-s3/issues/29 - problem is that FUSE process dies when CSI-S3 pod is restarted and Kubernetes doesn't know anything about it.

In fact the same happens for CephFS-FUSE and other FUSE-based CSI drivers: https://github.com/datashim-io/datashim/issues/153 https://github.com/ceph/ceph-csi/issues/792

Alibaba solves that by moving the FUSE

[2022-09-19 12:05] jsafrane commented on #374
Fuse issues that you describe do not seem to be related to ControllerPublish / Unpublish. So asking again, what will the CSI driver do in ControllerPublish and Unpublish and why do you need it implemented? With RPC_LIST_VOLUMES_PUBLISHED_NODES implemented in a CSI driver, external-attacher will only call ControllerPublish on volume that look erroneously ControllerUnpublished. It will **not** call

[2022-09-19 17:45] vitalif commented on #374
Ok, I see... I didn't ask anything about ControllerPublish/Unpublish, I thought it would call NodePublish for some reason :-)

[2022-09-19 17:51] vitalif commented on #374
Thanks for your answer anyway :)

[2022-09-19 17:51] #374 closed

[2022-09-22 06:42] timoreimann commented on #356
/remove-lifecycle stale

[2022-09-22 12:46] Kvasscn opened #377 "csi attacher report panic in log"
csi-attacher  seems  crash  in my test environment,  Does anyone know why？
The  error log:
I0920 17:27:33.094181  116997 csi_handler.go:216] CSIHandler: processing VA "csi-6958c8b9eeaf1a5015f350513238627af0e0268a7d2e59cb1515dbdb8badfb69"
I0920 17:27:33.094185  116997 csi_handler.go:216] CSIHandler: processing VA "csi-6a596806520026f086db41af9279ff79e385f73ed8a7f5eb6b06bffa2913d6c9"
I0920 17:27:33.

[2022-10-19 16:55] chethanv28 commented on #291
/reopen

[2022-11-10 14:20] humblec commented on #66
Looks like CSI driver specific issue ( Cinder) from previous comment . Closing this issue based on that.

[2022-11-10 14:20] #66 closed

[2022-11-10 14:24] humblec commented on #369
@briantopping considering we have another release (v4.0.0) can we close this ?  the 3.5.0 release still remains and no update to that release though.

[2022-11-10 14:31] humblec commented on #363
@avorima are you working on this ?

[2022-11-14 14:40] avorima commented on #363
@humblec Sorry, I kind of lost track of this. I think we came to the conclusion that the issue is somewhat misplaced here. Work to improve things should probably be done in k/k and k/website. Issues in those repos can still link back here for documentation purposes, but I think it can be closed.

[2022-11-14 15:51] humblec commented on #363
nw.. and thanks for revisiting this issue @avorima . If we have nt opened the trackers in k/k or k/website, I can take that up and close this issue for now.

[2022-11-17 05:29] Kartik494 commented on #377
@Kvasscn may i know on which kubernetes version you are testing it and version of attacher also?